//variables

//font-weight
$thin: 200;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;
$black: 700;

//Colors
$blue: #1d056f;
$red: #e80e41;
$yellow: #fac700;
$borderGrey: #dddddd;
$textGrey: #666666;
$transparentRed: rgba(232, 14, 65, .9);

//mediaQuery
$desktop: 768px;